* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.colors {
  display  : flex;
  height   : 70vh;
  flex-wrap: wrap;
}

.colors > div {
  padding        : 2rem;
  flex           : 1 1 5rem;
  width          : 10rem;
  display        : flex;
  flex-flow      : column nowrap;
  align-items    : center;
  justify-content: space-evenly;
}

.btns {
  margin         : 5%;
  display        : flex;
  justify-content: space-around;
  align-items    : center;
  height         : 16vh;
}

.btns > button {
  padding         : 10px;
  background-color: white;
  border          : 1 px solid gray;
  border-radius   : 8px;
  margin-bottom   : 18px;
}

p {
  font-size: large;
}

span {
  font-size: large;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}



/* .pop-up > form {
  display       : flex;
  flex-direction: column;
}  */
.pop-up{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 60%; 
  height: 60%; 
  overflow: auto; 
 
 
}
.pop-up-content{
  display        : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items    : center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:50%;
  height: 50%;
 
}
.pop-up-content > input {
  width: 30%;
  height: auto;
  padding: 10px;
  border: 1 solid gray;
  border-radius: 5%;
  font-size: 14px;
}
.pop-up-model{
  display: visible; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 60%; 
  height: 60%; 
  overflow: auto; 
 
}
.pop-up-model-content{
  /* display        : flex;
  flex-direction: column;
  justify-content: space-around; */
  align-items    : center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:50%;
  height: 80%;
}
.pop-up-model-content > h1 {
  margin-left: 100px;
}
.content{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content > button {
 
  width: 70px;
  height: 70px;

}
.content > h1{
  margin-left: 60px;
}
